
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
}

.main{
    background-color: #000919;
}
body {
   background-image: url("background1.png");
   background-size: cover;
    color: whitesmoke;
    font-family:'Oswald';
    transition: 600ms;
}

.header {
   padding: 10px;
}
.header p {
    display: flex;
    justify-content: center;
}
.contact {
    position: absolute;
    top: 4px;
    right: 5px;
    
}
.contact h3 {
    display: flex;
    align-items: end;
}
.contact a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: whitesmoke;
}

.link1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 290px;
}

.link1 a {
    font-size: 20px;
     color: whitesmoke;
    text-decoration: none;
    box-sizing: border-box;
}

.link2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 590px;
}

.link2 a{
    display: inline;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(17, 80, 147);
}

.footer {
    background-color:#000919;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

