* {
    margin: 0;
}

.main{
    background-color: #000919;
}
body {
    background-color: #001D3F;
    color: whitesmoke;
}

.header {
   padding: 10px;
}
.header p {
    display: flex;
    justify-content: center;
}
.contact {
    position: absolute;
    top: 4px;
    right: 5px;
    
}
.contact h3 {
    display: flex;
    align-items: end;
}
.contact a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: whitesmoke;
}

.link1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 290px;
}

.link1 a {
     color: whitesmoke;
    text-decoration: none;
}
